<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
       
          <ion-title>Hello,<br> <font>{{username}}</font></ion-title>
          

          <ion-menu-toggle>
            <ion-item>
           <ion-button (click)="logout()" expand="block" fill="clear" shape="round">
             logout
           </ion-button>
            </ion-item>
          </ion-menu-toggle>
     
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
